@{
    ViewData["Title"] = "Начало";
}
<div>
       <h1 class="display-4">Ветеринарна клиника"Четири лапи" </h1>
        <p>
            Ние също сме група от висококвалифицирани <br />
            професионалисти, които разбират, че животните са уникални. <br />
            Те изискват специализирани медицински познания, които ние превръщаме <br />
            в най-добрите медицински и хирургични грижи за вашето четириного семейство.<br />
        </p>
</div>
